.blogpreview-con {
  border: 1px solid black;
}
.title-back {
  display: flex;
  justify-content: space-between;
}
.blogpreview-con h1 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1rem 3rem;
}
.blogimage {
  width: 80%;
  height: 20rem;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
.blogimage img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.blogpreview-con p {
  margin: 1rem;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1rem 3rem;
}
