.blogs-con {
  /* border: 1px solid black; */

  padding: 3rem 3rem;
}

.side-head-blogs h1 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0c60;
  display: inline-block;
  border-bottom: 2px solid #1e0c60;
}
.blogs-con p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem 0rem;
}
.blog-container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 2rem 0rem;
}
.blog-item {
  width: 23rem;
  height: 15rem;
  /* border: 1px solid black; */
  position: relative;
}
.blog-item img {
  width: 100%;
  height: 100%;
}
.relative-content {
  position: absolute;
  width: 18rem;
  height: 6rem;
  background-color: #d9d9d9;
  color: black;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 10px 0px 0px;
}
.relative-content h2 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0.3rem;
}
.pagination {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button:hover {
  cursor: pointer;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
  .blogs-con {
    /* border: 1px solid black; */
    padding: 1rem 0.5rem;
  }
}
