.car-service-section p {
  font-family: Lato;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e0c60;
}
.cartypes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}
.more-cartypes {
  display: flex;
  justify-content: right;
  align-items: center;
}
.more-cartypes button {
  width: 10rem;
  height: 2.5rem;
  background-color: #1e0c60;
  color: white;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
}
.more-cartypes button:hover {
  cursor: pointer;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
  .cartypes {
    padding: 1rem 0rem;
  }
  .cartypes img {
    width: 3rem;
    height: 3em;
  }
  .more-cartypes {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .more-cartypes button {
    width: 6rem;
    height: 1.5rem;
    font-size: 10px;
  }
  .more-cartypes button:hover {
    cursor: pointer;
  }
}
