form {
  width: 100%;
  height: auto;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin-top: 10px;
  width: 100%;
  gap: 1rem;
  padding: 10px;
}

@media screen and (min-height: "998px") {
  .main {
    flex-direction: column;
  }
  .form-container {
    flex-direction: column;
  }
}
