.insurance-con {
  /* border: 1px solid black; */
  padding: 1rem 2rem;
}

.claim-side-head h1 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0c60;
  display: inline-block;
  border-bottom: 1px solid #1e0c60;
}
.claim-head p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem 0rem;
}
.claim-side-head p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem 0rem;
}
/* claim-points */
.claim-points {
  /* border: 1px solid black; */
  height: 30rem;
  /* padding: 1rem; */
  box-shadow: 6px -2px 23.5px 0px #00000040;
  box-shadow: 3px 4px 17.100000381469727px 0px #00000040;
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: 65% 35%;
}
.claim-points-content {
  /* border: 1px solid black; */
}
.claim-points-img {
  /* border: 1px solid black; */
}
.claim-points-img img {
  width: 100%;
  height: 30rem;
}
.claim-points-img h1 {
  display: none;
}
.claim-points-content h1 {
  font-family: Lato;
  font-size: 46px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0rem 2rem;
  color: #1e0c60;
}
.claim-points-p {
  /* border: 1px solid black; */
  margin: 1rem 0rem;
}
.claim-points-p p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0rem 1rem;
}

/* how claims */
.claim-process {
  /* border: 1px solid black; */
  padding: 4rem 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 3rem;
}
.claim-sub {
  width: 15rem;
  height: 20rem;
  border-radius: 35%;
  box-shadow: 6px -2px 23.5px 0px #00000040, 3px 4px 17.1px 0px #00000040;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.claim-sub-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.claim-sub p {
  padding: 0rem 2rem;
  margin: 0; /* Reset default margin to avoid unwanted space */
  text-align: center;
}

.claim-sub img {
  width: 9rem;
  height: 7rem;
  /* border: 1px solid black; */
}

/* cash-less-claim */
.cash-less-claim {
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}
.cash-less-claim li {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
/* reimbursement-claim */
.reimbursement-claim {
  padding: 1rem 2rem;
}
.reimbursement-claim li {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

/* insurance-claim-without */
.insurance-claim-without {
  /* border: 1px solid black; */
  padding: 1rem rem;
  height: auto;
}
.insurance-claim-without h1 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0c60;
}
.claim-side-head-claim h1 {
  font-family: Lato;
  font-size: 30px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0c60;
  display: inline-block; /* Added property */
  border-bottom: 1px solid #1e0c60; /* Border at the bottom of h1 */
}
.claim-sections {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5rem 0rem;
}
.claim-sections div {
  box-shadow: 6px -2px 23.5px 0px #00000040;

  box-shadow: 3px 4px 17.100000381469727px 0px #00000040;
}
.claim {
  height: 17rem;
}
.without-claim {
  height: 17rem;
}
.note-claim {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0c60;
}
.claim-sections div p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem;
}
/* claimbutton */
.claim-button {
  position: fixed;
  bottom: 30px; /* Distance from the bottom */
  right: 30px; /* Distance from the right */
}

.claim-button button {
  width: 10rem;
  height: 3rem;
  background-color: #1e0c60;
  border-radius: 10px;
  color: white;
  border: none;
}
.claim-button button:hover {
  cursor: pointer;
}

/* responsive */
@media screen and (min-width: 360px) and (max-width: 600px) {
  .insurance-con {
    /* border: 1px solid black; */
    padding: 1rem 0.8rem;
  }

  .claim-side-head h1 {
    font-size: 25px;
    line-height: 38px;
  }
  .claim-side-head p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 1rem 0rem;
  }

  .claim-points {
    /* border: 1px solid black; */
    height: auto;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .claim-points-img img {
    width: 100%;
    height: 25rem;
  }
  .claim-points-content h1 {
    display: none;
  }
  .claim-points-img h1 {
    display: block;
    font-family: Lato;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0rem 0.5rem;
    color: #1e0c60;
  }
  .claim-points-p {
    /* border: 1px solid black; */
    margin: 1rem 0rem;
  }
  .claim-points-p p {
    line-height: 25px;
  }
  /* claim process */

  .claim-process {
    /* border: 1px solid black; */
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .claim-sub {
    width: 10rem;
    height: 15rem;
    border-radius: 10%;
    box-shadow: 6px -2px 23.5px 0px #00000040, 3px 4px 17.1px 0px #00000040;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 100%;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }
  .claim-sub-img {
    display: none;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .claim-sub p {
    padding: 0rem 0rem;
    margin: 0; /* Reset default margin to avoid unwanted space */
    text-align: center;
  }

  .claim-sub img {
    width: 0rem;
    height: 0rem;
    /* border: 1px solid black; */
  }
  /* final claim or without */

  .insurance-claim-without {
    /* border: 1px solid black; */
    padding: 0rem;
    height: auto;
  }
  .insurance-claim-without h1 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e0c60;
  }
  .claim-side-head-claim h1 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e0c60;
    display: inline-block; /* Added property */
    border-bottom: 1px solid #1e0c60; /* Border at the bottom of h1 */
  }
  .claim-sections {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem 0rem;
    row-gap: 2rem;
  }

  .claim {
    height: auto;
  }
  .without-claim {
    height: auto;
  }

  /* claimbutton */
  .claim-button {
    position: fixed;
    bottom: 10px; /* Distance from the bottom */
    right: 15px; /* Distance from the right */
  }

  .claim-button button {
    width: 7rem;
    height: 2rem;
    background-color: #1e0c60;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 10px;
  }
  .claim-button button:hover {
    cursor: pointer;
  }
}
