.footer-con {
  /* width: 100%; */
  height: 15rem;
  /* border: 1px solid black; */
}
.footer-main {
  height: 15rem;
  padding: 0rem 2rem;
  background-color: #1e0c60;
  display: grid;
  grid-template-columns: 18% 19% 19% 19% 25%;
}
.footer-sub h1 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding-bottom: 1rem;
}
.footer-sub p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
  .footer-con {
    /* width: 100%; */
    height: auto;
    /* border: 1px solid black; */
  }
  .footer-main {
    height: auto;
    padding: 1rem;
    background-color: #1e0c60;
    display: grid;
    grid-template-columns: 100%;
  }
}
