/* Your existing CSS styles */
.phone-section label {
  color: #000;
  font-family: Gothic A1;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170.625%; /* 34.125px */
}
.input-container {
  display: flex;
  align-items: center;
  width: 25rem;
  border: 1px solid black;
  height: 3rem;
}

.country-code {
  padding: 0 5px; /* Adjust as needed */
  border-right: 1px solid black; /* Vertical line style */
}

.phonenumber {
  border: none;
  outline: none;
  padding-left: 5px; /* Adjust as needed */
  font-size: 20px;
}

.vertical-line {
  height: 20px; /* Adjust height as needed */
  border-left: 1px solid black; /* Vertical line style */
  margin-left: 5px; /* Adjust as needed */
}
